apiVersion: apps/v1
kind: Deployment
metadata:
  name: goserver
  labels:
    app: goserver
spec:
  selector:
    matchLabels:
      app: goserver
  replicas: 4
  template:
    metadata:
      labels:
        app: goserver
    spec:
      containers:
        - name: goserver
          image: silverio24tenor/hello-go:latest
          ports:
            - containerPort: 8080
