apiVersion: apps/v1
kind: Pod
metadata:
  name: goserver
  labels:
    app: goserver
spec:
  containers:
    - name: goserver
      image: silverio24tenor/hello-go:latest
      resources:
        requests:
          memory: "64Mi"
          cpu: "250m"
        limits:
          memory: "128Mi"
          cpu: "500m"
