apiVersion: v1
kind: Service
metadata:
  name: goserver
spec:
  type: ClusterIP # ClusterIP, NodePort, LoadBalancer
  selector:
    app: goserver
  ports:
  - protocol: TCP 
    port: 80
    targetPort: 8080
